doctype html
head
  meta(charset='UTF-8')
  title MITALENT
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet prefetch', href='https://fonts.googleapis.com/css?family=Roboto:400,700')
  link(rel='stylesheet prefetch', href='https://fonts.googleapis.com/css?family=Rozha+One|Yeseva+One')
  link(rel='stylesheet', type='text/css', media='screen', href='/mainpage.css')
  script(src='index.js')

body
  .bgleft
  .mainwrapper
    header.headnav
      ul.menu
        li
          a(href='')
            i.fa.fa-bars.burgerlist
        li.btn-text
          a(href='') clients
        li.btn-text
          a(href='')  news
      .logo mitalent
      .searchbar
        i.fa.fa-search
    section.head
      nav.sidebar
        ul.socialgroup
          li
            a(href="")
              i.fa.fa-facebook-square
          li
            a(href="")
              i.fa.fa-instagram
          li
            a(href="")
              i.fa.fa-youtube-play
          li
            a(href="")
              i.fa.fa-twitter
        .indexgroup
          .indexnumber 02
        button.btn-main view profile
      .cta-artist
        .artist
          .artist__name.first Derek
          .artist__name.last Anderson
          .artist__info British Comidian
        button.btn-play
          i.fa.fa-play
      .indexbar
        ul
          li 01
          li.active 02
          li 03
          li 04

    section.viewartist
      .viewartist__nav
        ul.career
          li
            a(href="") actor
          li
            a(href="") musician
          li
            a(href="") comidian
          li
            a(href="") model
      .artistcard-group
        .artistcard.artist1
          .artistcard__name Megan Lorem
            .artistcard__career comidian
          button.btn-more
            i.fa.fa-arrow-up
        .artistcard.artist2
          .artistcard__name Name2 Name
            .artistcard__career comidian
          button.btn-more
            i.fa.fa-arrow-up
        .artistcard.artist3
          .artistcard__name Name3 Name
            .artistcard__career comidian
          button.btn-more
            i.fa.fa-arrow-up
        .artistcard.artist4
          .artistcard__name Name4 Name
            .artistcard__career comidian
          button.btn-more
            i.fa.fa-arrow-up
        .artistcard.artist5
          .artistcard__name Name5 Name
            .artistcard__career comidian
          button.btn-more
            i.fa.fa-arrow-up
        .artistcard.artist6
          .artistcard__name Name6 Name
            .artistcard__career comidian
          button.btn-more
            i.fa.fa-arrow-up
        .artistcard.artist7
          .artistcard__name Name7 Name
            .artistcard__career comidian
          button.btn-more
            i.fa.fa-arrow-up
        .artistcard.artist8
          .artistcard__name Name8 Name
            .artistcard__career comidian
          button.btn-more
            i.fa.fa-arrow-up
      button.btn-explore explore more

    section.story
      .title Our Stories

      .story__cta.cta-sapn-1.sm
        .story__pic.hover.pic1
          button.story__btn-play.absolute
            i.fa.fa-play
        .story__wrap-info
          p.story__title 5 Reasons To Keep Your Beauty Salon Reservation
          .story__date 8 March 2020
      .story__cta.cta-sapn-1.sm
        .story__pic.hover.pic2
          button.story__btn-play.absolute
            i.fa.fa-play
        .story__wrap-info
          p.story__title Benjamin Franklin Method Of Habit Formation
          .story__date 8 March 2020
      .story__cta.cta-sapn-1.sm
        .story__pic.hover.pic3
          button.story__btn-play.absolute
            i.fa.fa-play
        .story__wrap-info
          p.story__title 29 Motivational Quotes For Business And Other Work Environments
          .story__date 8 March 2020

      .story__cta.cta-span-2
        .story__wrap-info.featured
          button.story__btn-play
            i.fa.fa-play
          p.story__title.lg Use Your Reset Button To Change Your Vibration
          .story__date.lg 8 March 2020
        img.story__pic(src="/images/compress/news_04.jpg", alt="")

      .story__cta.cta-span-row-2
        img.story__pic.fixed-height-80(src="/images/compress/news_05.jpg", alt="")
        .story__wrap-info.vertical
          p.story__title Motivation And Your Personal Vision An Unbeatable Force
          .story__date 8 March 2020

      .story__cta.cta-sapn-1.lg.hidephone
        img.story__pic.fixed-height-70(src="/images/compress/news_06.jpg", alt="")
        .story__wrap-info.vertical
          p.story__title Dream Interpretation Common Symbols And Their Meanings
          .story__date 8 March 2020

      .story__cta.cta-sapn-1.video.hidephone
        button.story__btn-play.bd
          i.fa.fa-play
        img.story__pic(src="/images/compress/news_07.jpg", alt="")


    footer.foot
      .logo.foot__logo mitalent
      .foot__sign sign up our newsletter
        i.fa.fa-envelope-o.mail
      .hr
      .foot__copyright © 2018 MI Talent. Designed by Tranmautritam for Mass Impression
      ul.foot__socialgroup
        li
          a(href="")
            i.fa.fa-facebook-square
        li
          a(href="")
            i.fa.fa-instagram
        li
          a(href="")
            i.fa.fa-youtube-play
        li
          a(href="")
            i.fa.fa-twitter
